#include "resource.h"
IDR_MYMENU MENU
BEGIN

POPUP "&Options"
BEGIN
MENUITEM "&Line", ID_LINE
MENUITEM "&Circle",ID_CIRCLE
END
POPUP "&LineType"
BEGIN
MENUITEM "&Simple", ID_Simple
MENUITEM "&DDA", ID_DDA
MENUITEM "&MidPoint", ID_MidPoint
END
POPUP "&CircleType"
BEGIN
MENUITEM "&Quadratic", ID_CIRCLESIMPLE
MENUITEM "&Polar", ID_CIRCLEPolar
MENUITEM "&MidPoint", ID_CIRCLEMidPoint
END
POPUP "&Other"
BEGIN
MENUITEM "&Line Clipping", ID_CLIP
MENUITEM "&Fill", ID_Fill
END
END